<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.xiaok.waveplayer" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <application
        android:name=".WaveApplication"
        android:allowBackup="true"
        android:icon="@mipmap/music"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity android:name=".activities.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Detial Activity -->
        <activity android:name=".activities.AlbumActivity"
            android:windowSoftInputMode="adjustPan|adjustNothing"/>
        <activity android:name=".activities.ArtistActivity"
            android:windowSoftInputMode="adjustPan|adjustNothing"/>
        <activity android:name=".activities.GenreActivity"
            android:windowSoftInputMode="adjustPan|adjustNothing"/>
        <activity android:name=".activities.PlayListActivity"
            android:windowSoftInputMode="adjustPan|adjustNothing"/>

        <!-- NowPlayingMusic Activty -->
        <activity android:name=".activities.NowPlayingMusic"
            android:screenOrientation="fullUser" />

        <!-- Player Service -->
        <service android:name=".PlayerService"
            android:process=":player"
            android:exported="false"/>

        <!-- Broadcast Receiver -->
        <receiver android:name=".PlayerService$Listener"
            android:process=":player"
            android:exported="false"/>

        <receiver android:name=".PlayerController$Receiver"
            android:exported="false">
            <intent-filter android:priority="999">
                <action android:name="me.xiaok.wavemusic.REFRESH_INFO"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
